.box{
  align-items: center;
}


.mainContainer {
  display: flex;
  margin-top: 20vh;
  margin-left: 10vw;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 40vw;
  background: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #030030;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
 
  
}

.welcomeText {
  margin-top: 3vh;
  font-size: 4rem;
  align-items: center;
  font-weight:bolder;
  letter-spacing: 0.1rem;
  @media (min-width: 0px) and (max-width: 350px) {
    font-size: 2rem;
    font-weight: 700;
    /* margin: 1.5rem 1rem 0 1rem; */
  }
  @media (min-width: 350px) and (max-width: 700px) {
    font-size: 2rem;
    font-weight: 700;
    margin-left:60px;
    /* margin: 2rem 1rem 0 1rem; */
  }
  @media (min-width: 1000px) and (max-width: 2000px) {
    font-size: 4rem;
  }
  @media (min-width: 2000px) and (max-width: 3000px) {
    font-size: 6rem;
    font-weight: 900;
  }
}
.text {
  /* margin: 3rem 3rem 4rem 3rem; */
  margin-top: 4vh;
  margin-left:15px;
  align-items: center;
  font-size: 2rem;
  font-weight:bolder;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1rem;
  @media (min-width: 0px) and (max-width: 350px) {
    font-size: 1rem;
    font-weight: 900;
    margin: 1.1rem 1rem 2rem 1rem;
  }
  @media (min-width: 350px) and (max-width: 500px) {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0.5rem 8rem 4rem 9rem;
  }
  @media (min-width: 500px) and (max-width: 700px) {
    font-size: 1rem;
    font-weight: 900;
    margin: 1.5rem 1rem 4rem 1rem;
  }
  @media (min-width: 700px) and (max-width: 1000px) {
    font-size: 2rem;
    font-weight: 900;
    margin: 1.5rem 1rem 4rem 1rem;
  }
  @media (min-width: 1000px) and (max-width: 2000px) {
    font-size: 3rem;
    font-weight: 900;
    margin: 1.5rem 1rem 2rem 1rem;
  }
  @media (min-width: 2000px) and (max-width: 3000px) {
    font-size: 4rem;
    font-weight: 900;
    margin: 3rem 1rem 3rem 1rem;
  }
}

.InputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 100%;
  margin-bottom:20px;
  margin-left:20px;
}
@media screen and(max-width:720px){
  .email{
    margin-left:20px;
  }
  .forgot{
    font-size:20px;
  }
}
.email{
  margin-right:10px;
  border-color: #030030;
  line-height:20px;
  margin-top:20px;

}
.password{
  border-color: #030030;
  line-height:20px;
  
  margin-right:90px;
}
.forgot{
  color:rgb(50, 65, 180);
  text-decoration:none;
  margin-top:10px;
  font-weight:bolder;
  font-size:15px;
  

}
.forgot:hover{
  color:black;
  font-weight: bold;
}
.new{
  color:rgb(50, 65, 180);
  text-decoration:underline;
  font-weight: bold;
  font-size:15px;
  margin-top:20px;
 
}
.new:hover{
  color:black;
}
.login{
 
  border-color:#030030;
    background-color:rgb(8, 8, 8);
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;
    
    color:white;
    font-size:30px;
    font-weight:bolder;
}
.login:hover{
  background-color: rgb(39, 55, 241) ;
}
.ButtonContainer {
  margin-left:20px;
  width: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

.LoginWith {
  cursor: pointer;
  margin: 2.3rem 0 1rem 0;
  text-transform: none;
  margin-left:20px;
}

.IconsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem 9 3rem 0;
  width: 80%;
}

.ForgotPassword {
  cursor: pointer;
  height: 1rem;
  color: #ffff;
  text-transform: none;
  margin: 0 1rem 0 0;
}
@media screen and (max-width:720px){
  .mainContainer {
    display: flex;
    margin-top: 20vh;
    margin-left: 10vw;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 40vw;
    background: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    backdrop-filter: blur(8.5px);
    border-radius: 10px;
    color: #030030;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }  
}
